# This Notebook is for testing stuff for the Bank Regulator text analsyis

In [59]:
import nltk
from nltk.tokenize import word_tokenize
import string
import os
import glob
import numpy as np
import pandas as pd

In [32]:
file = open("../Data/1999y_intro.txt",encoding="utf8")
text = file.read()

In [41]:
os.chdir("../Data")
textfiles = glob.glob("*_intro.txt")

In [42]:
print(textfiles)

['1999y_intro.txt', '2000y_intro.txt', '2001y_intro.txt', '2002y_intro.txt', '2003y_intro.txt', '2004y_intro.txt', '2005y_intro.txt', '2006y_intro.txt', '2007y_intro.txt', '2008y_intro.txt', '2009y_intro.txt', '2010y_intro.txt', '2011y_intro.txt', '2012y_intro.txt', '2013y_intro.txt', '2014y_intro.txt', '2015y_intro.txt', '2016y_intro.txt', '2017y_intro.txt']

In [46]:
files = [for file in textfiles]

SyntaxError: invalid syntax (<ipython-input-46-7786ffbd5f4e>, line 1)

SyntaxError: invalid syntax (<ipython-input-45-275ca86b290b>, line 1)

In [48]:
for year in range(1999,2017):
    years = [year]

In [49]:
print(years)

[2016]

In [50]:
years = [for year in range(1999,2017)]

SyntaxError: invalid syntax (<ipython-input-50-fe74b6d3c94d>, line 1)

In [56]:
years =[year+2 for year in range(1999,2017)]

In [57]:
print(years)

[2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [58]:
type(years)

list

In [80]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(1, 18)),columns=[year for year in range(1999,2017)])

In [81]:
df

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,1,8,2,5,8,3,4,9,3,0,0,2,7,5,2,3,2

In [82]:
for col in df.columns:
    f.open
    df[col][0] = f.open

In [83]:
df

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20

In [91]:
file = open('../Data/1999y_intro.txt',encoding='utf8')
text1999 = file.read()
file = open('../Data/2000y_intro.txt',encoding='utf8')
text2000 = file.read()
file = open('../Data/2001y_intro.txt',encoding='utf8')
text2001 = file.read()
file = open('../Data/2002y_intro.txt',encoding='utf8')
text2002 = file.read()
file = open('../Data/2003y_intro.txt',encoding='utf8')
text2003 = file.read()
file = open('../Data/2004y_intro.txt',encoding='utf8')
text2004 = file.read()
file = open('../Data/2005y_intro.txt',encoding='utf8')
text2005 = file.read()
file = open('../Data/2006y_intro.txt',encoding='utf8')
text2006 = file.read()
file = open('../Data/2007y_intro.txt',encoding='utf8')
text2007 = file.read()
file = open('../Data/2008y_intro.txt',encoding='utf8')
text2008 = file.read()
file = open('../Data/2009y_intro.txt',encoding='utf8')
text2009 = file.read()
file = open('../Data/2010y_intro.txt',encoding='utf8')
text2010 = file.read()
file = open('../Data/2011y_intro.txt',encoding='utf8')
text2011 = file.read()
file = open('../Data/2012y_intro.txt',encoding='utf8')
text2012 = file.read()
file = open('../Data/2013y_intro.txt',encoding='utf8')
text2013 = file.read()
file = open('../Data/2014y_intro.txt',encoding='utf8')
text2014 = file.read()
file = open('../Data/2015y_intro.txt',encoding='utf8')
text2015 = file.read()
file = open('../Data/2016y_intro.txt',encoding='utf8')
text2016 = file.read()
file = open('../Data/2017y_intro.txt',encoding='utf8')
text2017 = file.read()

In [93]:
TEXTS = []
TEXTS.append([text1999,text2000,text2001,text2003,text2004,text2005,text2006,text2007,text2007,text2008,text2009,text2010,text2011,text2012,text2013,text2014,text2015,text2016,text2017])

In [99]:
TEXTS[1]

IndexError: list index out of range

In [107]:
TEXTS = []
for year in range(1999,2017):
    TEXTS.append(locals()['text' + str(year)])

In [ ]:
print(TEXTS[0])

In [113]:
for year in range(1999,2018):
    text+str(year) = 20

SyntaxError: can't assign to operator (<ipython-input-113-632fadcd4572>, line 2)

In [1]:
import string

In [2]:
sent = "שלום שמי הוא אריאל, אני יועץ לחברת מלם הפועלת בשיתוף פעולה בחינוך נכון"

In [3]:
all_text2= sent.translate(str.maketrans("ךםןףץ","כמנפצ"))
print(sent)
print(all_text2)

שלום שמי הוא אריאל, אני יועץ לחברת מלם הפועלת בשיתוף פעולה בחינוך נכון
שלומ שמי הוא אריאל, אני יועצ לחברת מלמ הפועלת בשיתופ פעולה בחינוכ נכונ